{% load static %}
{% load compress %}
<!DOCTYPE HTML>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>


  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-4.0.0-alpha.6/css/bootstrap.min.css' %}">
  {% compress css %}
  <link href="{% static 'css/main.scss' %}" rel="stylesheet" type="text/x-scss">
  {% endcompress %}

</head>

<body>
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar">
      <i id="sidebar-hide" class="fa fa-close fa-lg"></i>
      <!-- Main links -->
      <ul>
        <li><a href="/blog">Blog</a></li>
      </ul>
      <!-- Categories -->
      <ul>
        <li>Categories:</li>
        {% for cat in all_categories %}
        <li><a href="{% url 'blog:category' cat.slug %}">{{ cat.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <!-- Page -->
    <div id="page">

      <div class="container-fluid fixed-top" id="nav">
        <div class="row">
          <div class="col">
            <ul class="nav xpull-right">
              <a class="nav-item nav-link" href="#" id="sidebar-show"><i class="fa fa-bars fa-lg"></i></a>
              <a class="nav-item nav-link nav-collapse" href="/blog">Blog</a>
              <a class="nav-item nav-link nav-collapse" href="#">Portfolio</a>
              <a class="nav-item nav-link nav-collapse" href="#">Contact</a>
            </ul>
          </div>
          <div class="col">
            <form class="form-inline pull-right">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="header">
        <div class="row justify-content-center">
            <img src="{% static 'img/david.png' %}" id="logo" title="David Ibáñez">
        </div>
        <div class="row justify-content-center">
            <h1 class="tagline">Python Ninja for Hire</h1>
        </div>
      </div>
      <div class="container" id="content">
        <div class="row justify-content-center">
          <div class="col">
          {% block content %}
          {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Javascript -->
  <script src="{% static 'vendor/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'vendor/tether-1.4.0.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap-4.0.0-alpha.6/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
