{% load static %}
{% load compress %}
<!DOCTYPE HTML>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-4.0.0-alpha.6/css/bootstrap.min.css' %}">
  {% compress css %}
  <link href="{% static 'css/main.scss' %}" rel="stylesheet" type="text/x-scss">
  {% endcompress %}

</head>

<body>
  <!-- Sidebar -->
  <div class="flex-grid" id="page">
    <div class="col" id="sidebar">
      <i id="sidebar-hide" class="fa fa-close fa-lg"></i>
      <i id="sidebar-show" class="fa fa-chevron-right fa-lg"></i>
      <div id="logo">
        <a href="/" title="David Ibáñez"></a>
      </div>
      <!-- Main links -->
      <ul>
        <li><a href="/blog">Blog</a></li>
      </ul>
      <!-- Categories -->
      <ul>
        <li>Categories:</li>
        {% for cat in all_categories %}
        <li><a href="{% url 'blog:category' cat.slug %}">{{ cat.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <!-- Content -->
    <div class="col" id="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <!-- Javascript -->
  <script src="{% static 'vendor/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'vendor/tether-1.4.0.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap-4.0.0-alpha.6/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
