{% load static %}
{% load compress %}
<!DOCTYPE HTML>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <!-- CSS -->
  {% compress css %}
  <link href="{% static 'css/main.scss' %}" rel="stylesheet" type="text/x-scss">
  {% endcompress %}

</head>

<body>
  <!-- Sidebar -->
  <div class="flex-grid">
    <div class="col" id="sidebar">
      <div id="logo">
        <a class="navbar-brand" href="/" title="David Ibáñez"></a>
      </div>
      <!-- Main links -->
      <ul>
        <li><a href="/blog">Blog</a></li>
      </ul>
      <!-- Categories -->
      <ul>
        <li>Categories:</li>
        {% for cat in all_categories %}
           <li><a href="{% url 'blog:category' cat.slug %}">{{ cat.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col" id="content">
      <button id="sidebar-toggle">X</button>
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <!-- Javascript -->
  <script src="{% static 'vendor/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
