$black: #292b2c;
$grey: #cacaca;
$blue: #0275d8;
$sidebar-width: 200px;
$white: #eee;

body {
    overflow-x: hidden;
    font-size: 18px;
    // https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
    // https://css-tricks.com/snippets/css/system-font-stack/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", Arial, Helvetica, sans-serif;
    /*
    system-ui		CSS4 standard, Chrome >= 56
    -apple-system	Safari (Mac)
    BlinkMacSystemFont  Chrome < 56 (Mac)
    "Segoe UI"		Windows >= Vista
    "Roboto"		Android
    "Oxygen"		KDE
    "Ubuntu"		Ubuntu
    "Cantarell"		Gnome
    "Lucida Grande"     OSX < Yosemite
    "Fira Sans"		Firefox OS
    "Droid Sans"        Android old
    "Helvetica Neue"	iOS < 9 ; OSX < El Capitan
    ** Classical **
    Arial		Windows old
    Helvetica		Unix, Mac
    sans-serif
    */
}

h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 32px; }
h4 { font-size: 28px; }
h5 { font-size: 24px; }
h6 { font-size: 18px; }
h2 {
    color: $black;
    xmargin-bottom: 0;
}

#wrapper {
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 1em;
    background-color: $black;
    z-index: 100;
    color: $grey;
    a {
        color: $grey;
    }
    transform: translateX(-200px);
    transition: transform 0.5s;
    #sidebar-hide {
        position: absolute;
        right: 0.5em;
        cursor: pointer;
    }
}

#content {
    transition: transform 0.5s;
}

#wrapper.sidebar-open {
    #sidebar {
        transform: initial;
    }
}

#nav {
    z-index: 50;
    background-color: #66ccff;
    padding: 15px;
    color: $white;
    a {
        color: $white;
    }
}

#header {
    background-color: #66ccff;
    padding: 5em;
    color: $white;
    img {
        width: 160px;
        height: 160px;
    }
    .tagline {
        margin-top: 1.5em;
        font-family: "Courier New", Courier, "Andale Mono", monospace;
    }
}

#content {
    padding-top: 3em;
}


.date, .tags {
    font-style: italic;
}
