$black: #212121;


body {
	margin: 0;
    // Typo
    color: $black;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

.flex-grid {
    display: flex;
}
.col {
    flex: 1;
}

#sidebar {
    flex: 0 0 12em;
    background-color: $black;
    padding-top: 1em;
    color: white;
    ul {
        list-style: none;
    }
    a {
        color: white;
    }
}
#content {
    padding: 1em;
	a.blog-post-link {
		color: $black;
		text-decoration: none;
		&:hover {
            color: rgb(0, 0, 238);
        }
	}
}

#logo {
    display: flex;
    justify-content: center;
    a {
        width: 70%;
        img {
            width: 100%;
        }
    }
}
