$black: #212121;
$grey: #cacaca;
$blue: #0275d8;
$sidebar-width: 200px;
$white: #eee;

body {
    overflow-x: hidden;
}

#wrapper {
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 1em;
    background-color: $black;
    z-index: 100;
    color: $grey;
    a {
        color: $grey;
    }
    transform: translateX(-200px);
    transition: transform 0.5s;
    #sidebar-hide {
        position: absolute;
        right: 0.5em;
        cursor: pointer;
    }
}

#content {
    transition: transform 0.5s;
}

#wrapper.sidebar-open {
    #sidebar {
        transform: initial;
    }
}

#nav {
    position: fixed;
    top: 0;
    z-index: 50;
}

#header {
    background-color: #66ccff;
    padding: 5em;
    color: $white;
    img {
        width: 160px;
        height: 160px;
    }
    .tagline {
        margin-top: 1.5em;
        font-family: "Courier New", Courier, "Andale Mono", monospace;
    }
}

#content {
    padding-top: 3em;
}


h2 {
    margin-bottom: 0;
}

.date, .tags {
    font-style: italic;
}
