Pillow==3.4.2
pip==9.0.1

# Django
Django==1.10.4
django-crispy-forms==1.6.1
django-sendfile==0.3.11

# Wagtail
wagtail==1.8
-e git+https://github.com/thelabnyc/wagtail_blog.git@8f55273#egg=wagtail-blog
django-contrib-comments==1.7.3
django-comments-xtd==1.6.3

{% if django_database.engine == 'postgres' %}
psycopg2==2.6.2
{% endif %}
