Pillow==3.4.2
pip==9.0.1

# Django
Django==1.10.4
#django-crispy-forms==1.6.1
django-debug-toolbar==1.7
django-sendfile==0.3.11

# Wagtail
django-compressor==2.1
django-libsass==0.7
wagtail==1.9

{% if django_database.engine == 'postgres' %}
psycopg2==2.6.2
{% endif %}
